<div class="portfolio-modal modal fade" id="weixinModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>扫描二维码关注官方微信</h2>
            <p class="item-intro text-muted">或者搜索微信号"<%= weixinAccount %>"</p>
            <img class="img-responsive img-centered" src="<%= weixinQRCode %>" alt="">
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; <%= domain %> 2016</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="<%= weiboSite %>"><i class="fa fa-weibo"></i></a>
          </li>
          <li><a href="#weixinModal" data-toggle="modal"><i class="fa fa-weixin"></i></a>
          </li>
          </li>
        </ul>
      </div>
      <!-- <div class="col-md-4"> -->
      <!--   <ul class="list-inline quicklinks"> -->
      <!--     <li><a href="#">Privacy Policy</a> -->
      <!--     </li> -->
      <!--     <li><a href="#">Terms of Use</a> -->
      <!--     </li> -->
      <!--   </ul> -->
      <!-- </div> -->
    </div>
  </div>
</footer>
