<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- build:css css/bundle.css -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>

  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="index.html#page-top">
            <img src="<%= logo %>" alt="">
            <span>
              乐鉴
            </span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#verificationFlows">验证流程</a>
            </li>
            <li>
              <a class="page-scroll" href="#nfcCard">防伪技术</a>
            </li>
            <li>
              <a class="page-scroll" href="#mobileApp">移动应用</a>
            </li>
            <li>
              <a class="page-scroll" href="#cloud">云平台</a>
            </li>
            <li>
              <a class="page-scroll" href="#valueAdded">增值功能</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">联系我们</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- Header -->

    <!-- Services Section -->
    <section id="verificationFlows" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-center">
            <h2 class="section-heading">无网络验证</h2>
            <img src="<%= verificationFlows.offlineImage %>" alt="">
          </div>
          <div class="row">
            <div class="col-sm-6 text-center">
              <h2 class="section-heading">在线验证</h2>
              <img src="<%= verificationFlows.offlineImage %>" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="nfcCard">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">NFC三重防伪标签</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="<%= nfcCardImage %>" alt="NFC防伪标签">
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="mobileApp" class="bg-light-gray"> 
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-heading">乐鉴移动应用</h2>
            <h3 class="section-subheading text-muted">两个主流手机系统IOS和安卓应用,覆盖91%智能手机市场应用附带公众密匙,与后台数据库、乐鉴防伪标签,三重加密验证真伪应用在无网络状态依然可以对乐鉴防伪标签进行密匙配对验证</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img src="<%= mobileAppImage %>" alt="乐鉴移动应用">
          </div>
        </div>
      </div>
    </section>

    <!-- Team Section -->
    <section id="cloud">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-center col-lg-offset-2">
            <h2 class="section-heading">乐鉴云平台</h2>
            <h3 class="section-subheading text-muted">哈希技术首次运用于后台数据加密,确保数据安全芯片私有密匙和应用公众密匙与后台三重验证,确保验证结果真实可靠。后台管理简易明了,可由厂家自行运营维护。后台采用云技术,具备强大的增值功能</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img src="<%= cloudImage %>" alt="乐鉴云平台">
          </div>
        </div>
      </div>
    </section>

    <section id="valueAdded" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-center col-lg-offset-2">
            <h2 class="section-heading">乐鉴云平台增值功能</h2>
            <h3 class="section-subheading text-muted">
360乐鉴物联科技凭借多年互联网以及移动互联网营销经验,打造了强有力的互动型营销平台,以防伪溯源为契机,为企业及下游经销商,代理商通过移动电子商务向用户提供精准的营销平台
            </h3>
          </div>
        </div>
        <div class="row">
          <% valueAddedFunctions.slice(0, 3).forEach(function (f) { %>
          <div class="col-lg-4 text-center">
            <h4 class="service-heading">
              <i class="fa fa-thumbs-up fa-2x text-primary"></i>
              <%= f.title %>
            </h4>
            <p class="text-muted"><%= f.detail %></p>
          </div>
          <% }) %>
        </div>
        <div class="row">
          <div class="col-lg-2"></div>
            <% valueAddedFunctions.slice(3, 5).forEach(function (f) { %>
            <div class="col-lg-4 text-center">
              <h4 class="service-heading">
                <i class="fa fa-thumbs-up fa-2x text-primary"></i>
                <%= f.title %>
              </h4>
              <p class="text-muted"><%= f.detail %></p>
            </div>
            <% }) %>

          <div class="col-lg-2"></div>
        </div>
      </div>
    </section>

    <!-- Clients Aside -->
    <% if (clients && clients.length) { %>
    <aside class="clients">
      <div class="container">
        <div class="row">
          <% clients.forEach(function (client) { %>
          <div class="col-md-3 col-sm-6">
            <a href="<%= client.website %>">
              <img src="<%= client.logo %>" class="img-responsive img-centered" alt="">
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </aside>
    <% } %>

    <!-- Contact Section -->
    @@include('./_contact.html')
    @@include('./_footer.html')

    <!-- Portfolio Modals -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Project Name</h2>
                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                <p>
                  <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                <ul class="list-inline">
                  <li>Date: July 2014</li>
                  <li>Client: Round Icons</li>
                  <li>Category: Graphic Design</li>
                </ul>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <!-- build:js js/bundle.js -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/classie.js"></script>
    <!-- <script src="js/cbpAnimatedHeader.js"></script> -->

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
    <!-- endbuild -->

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="//cdn.bootcss.com/holder/2.9.1/holder.min.js"></script>

  </body>

</html>
